@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
	min-height: 100vh;
	background-color: var(--dark-blue);
	color: var(--bs-light);
}

.full-window {
  height: 100vh;
  width: 100vw;
}

.no-scroll {
	overflow: hidden;
}

.loader-center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
}

.pointer {
	cursor: pointer;
}

.fw-weight-bold {
	font-weight: bold;
}

.full-max-width {
	max-width: 100%;
}

.rotate-180 {
	transform: rotate(180deg);
}